@page "/department"
@page "/department/{Id:int}"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

@inherits DepartmentBase


@* Department Data Display Start*@
@if (Departments == null)
{
    <Spinner/>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dept in Departments)
            {
                <tr>
                
                <td>@dept.Id</td>
                <td>@dept.Name</td>
                <td>@dept.Status</td>
                <td>
                    <a href="/department/@dept.Id">
                        <img src="/Assets/edit.png" width="30" height="30" @onclick="()=>GetDept(dept)"/>
                    </a>
                        <a href="/department/@dept.Id">
                            <img src="/Assets/delete.png" width="30" height="30" @onclick="()=>GetDept(dept)" />
                        </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
}
@* Department Data Display End *@


    <EditForm Model="@Temp_Dept">
        <!-- Form fields go here -->
        <div class="form-group">
            <label for="name">Name:</label>
            <InputText id="name" @bind-Value="Temp_Dept.Name" class="form-control" />
        </div>
        <div class="form-group">
            <input class="form-check-input" type="checkbox" id="myCheckbox" @bind-value="Temp_Dept.Status" />
            <label class="form-check-label" for="myCheckbox">Check if Assigned</label>
        </div>

        <button type="submit" class="btn btn-primary" @onclick="()=>SubmitForm()">Submit</button>
    </EditForm>
 